In [108]:
import pandas as pd
from datetime import date

registro = pd.read_csv("visitas.csv",sep=';')

In [109]:
registro

  usuario   pagina  visita       fecha
0   seba1  paginae       1  2020-09-20
1   seba2  paginae       1  2020-09-20
2   seba3  paginae       1  2020-09-20
3   seba3  paginae       1  2020-09-20

In [110]:
usuario="seba3"
pagina='paginae'
visita='1'
fecha=date.today()

datos =[usuario,pagina,visita,fecha]

In [111]:
datos1=(pd.DataFrame(datos).T).rename(columns={0:"usuario",1:"pagina",2:"visita",3:"fecha"}).reset_index(drop=True)
datos1

  usuario   pagina visita       fecha
0   seba3  paginae      1  2020-09-20

In [112]:
registro=registro.append(datos1)

In [113]:
registro.drop_duplicates(keep = False, inplace = True) 
registro

  usuario   pagina visita       fecha
0   seba1  paginae      1  2020-09-20
1   seba2  paginae      1  2020-09-20
0   seba3  paginae      1  2020-09-20

In [114]:
registro.to_csv("visitas.csv",sep=';', index=False)